{% extends "base.html" %}
<!-- {% load render_table from django_tables2 %} -->
{% load widget_tweaks %}

{% block content %}

<h1>{{ title }}</h1>

  <form method="get">
    {{ form.as_p }}
    <button type="submit">Поиск</button>
  </form>

<h1>Мастер таблица</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Организация</th>
        <th>Валюта</th>
        <th>Тип Контракта</th>
        {% if monthly_contract_dict|length > 0 %}
          {% for month in monthly_contract_dict.keys %}
            <th>{{ month }}</th>
          {% endfor %}
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for contract in contract_list %}
        <tr>
          <td>{{ contract.company }}</td>
          <td>{{ contract.contract_type }}</td>
          <td>{{ contract.currency_type }}</td>
          {% if monthly_contract_dict|length > 0 %}
            {% for qs in monthly_contract_dict.values %}
              {% if contract in qs %}
                <td>{{ contract.contract_value }}</td>
              {% else %}
                <td>0</td>
              {% endif %}
            {% endfor %}
          {% endif %}
        </tr>
        {% empty %}
          <tr>
            <td colspan="3">Нет контрактов</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

<h1>Аггрегированные помесячно данные</h1>
  <table class="table table-bordered" id="aggr_table">
    <thead>
        <tr>
          {% for month in monthly_contract_dict_total.keys %}
            <th>{{ month }}</th>
          {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
          {% for value in monthly_contract_dict_total.values %}
            <td id="month_id{{ forloop.counter }}">{{ value.monthly_value|default_if_none:0 }}</td>
          {% endfor %}
        </tr>
    </tbody>
  </table>
<!-- {{ monthly_contract_dict_js.8|escapejs }} -->

<!--   <table class="table table-bordered" id="details_table">
  </table> -->
<div id="table_ct"></div>

{% endblock content %}


{% block script %}

{{ block.super }}
<script>
$(document).ready(function(){
  $("#aggr_table").on("click", "td", function(){
    // $.ajax({
    //   type: 'GET',
    //   url: '/contracts/monthly',
    //   data: {
    //     selected_year: $('#year_id').val(),
    //     selected_month: $(this).attr('id')
    //   },
    //   success: handleSuccess,
    //   error: handleError,
    // });
    // function handleSuccess(data){
    //   console.log(data);
    // }
    // function handleError(ThrowError){
    //   console.log(ThrowError);
    // }
    var month_id_selected = $(this).attr('id')
    console.log(month_id_selected)

    var contracts = {};

    var js_obj_dict = JSON.parse('{{ json_dict|escapejs }}')
    // function setContracts(js_obj_dict){
    for (var month_id in js_obj_dict) {
      contracts[month_id] = JSON.parse(js_obj_dict[month_id]);
    }

    contracts_month = contracts[month_id_selected]
    console.log(contracts_month)

    $("#table_ct").html(build_details_table(contracts_month));


  });

  function build_details_table(contracts_array) {
    if (contracts_array.length != 0) {
      var details_table = $('<table>').addClass('table table-bordered');
      var head = $('<thead>').html('<tr><th>Oranisation</th><th>Contract</th><th>Curency</th><th>Price</th></tr>');
      details_table.append(head)

      for(var i=0; i<contracts_array.length; i++){
        var row = $('<tr>')
        for (var arg in contracts_array[i].fields) {
          row.append($('<td>').text(contracts_array[i].fields[arg]));
        }
        details_table.append(row)
      }
      return details_table;
    }
    else {return ''}
  }
// var p_obj_list = JSON.parse('{{ monthly_contract_dict_js.month_id8|escapejs }}')
// var p_obj = p_obj_list[1].fields.company
// var too = "monthly_contract_dict_js."+"month_id8"+"|escapejs"
// var foo = '{{ '+too+' }}'

// var contracts = {};

// var js_obj_dict = JSON.parse('{{ json_dict|escapejs }}')
// // function setContracts(js_obj_dict){
// for (var month_id in js_obj_dict) {
//   contracts[month_id] = JSON.parse(js_obj_dict[month_id]);
// }

// }
// var p_obj = js_obj_dict.month_id8
// var p_obj1 = JSON.parse(p_obj)

// setContracts.call(js_obj_dict)

// console.log(contracts)

  // event.preventDefault();

});
</script>

{% endblock script %}


