{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<h1>{{ title }}</h1>

  <form method="get">
    {{ form.as_p }}
    <button type="submit">Поиск</button>
  </form>

<h1>Мастер таблица</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Организация</th>
        <th>Валюта</th>
        <th>Тип Контракта</th>
        {% if monthly_contract_dict|length > 0 %}
          {% for month in monthly_contract_dict.keys %}
            <th>{{ month }}</th>
          {% endfor %}
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for contract in contract_list %}
        <tr>
          <td>{{ contract.company }}</td>
          <td>{{ contract.contract_type }}</td>
          <td>{{ contract.currency_type }}</td>
          {% if monthly_contract_dict|length > 0 %}
            {% for qs in monthly_contract_dict.values %}
              {% if contract in qs %}
                <td>{{ contract.contract_value }}</td>
              {% else %}
                <td>0</td>
              {% endif %}
            {% endfor %}
          {% endif %}
        </tr>
        {% empty %}
          <tr>
            <td colspan="3">Нет контрактов</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% if monthly_contract_dict|length > 0 %}
<h1>Аггрегированные помесячно данные</h1>
{% endif %}
  <table class="table table-bordered" id="aggr_table">
    <thead>
        <tr>
          {% for month in monthly_contract_dict_total.keys %}
            <th>{{ month }}</th>
          {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
          {% for value in monthly_contract_dict_total.values %}
            <td id="month_id{{ forloop.counter }}">{{ value.monthly_value|default_if_none:0 }}</td>
          {% endfor %}
        </tr>
    </tbody>
  </table>

<div id="table_ct"></div>

{% endblock content %}


{% block script %}

{{ block.super }}
<script>
$(document).ready(function(){
  $("#aggr_table").on("click", "td", function(){

    var month_id_selected = $(this).attr('id')

    var contracts = {};

    var js_obj_dict = JSON.parse('{{ json_dict|escapejs }}')
    for (var month_id in js_obj_dict) {
      contracts[month_id] = JSON.parse(js_obj_dict[month_id]);
    }

    contracts_month = contracts[month_id_selected]

    $("#table_ct").html(build_details_table(contracts_month));

    $('html, body').animate({
      scrollTop: $("#aggr_table").offset().top
    }, 'slow');



  });

  function build_details_table(contracts_array) {
    if (contracts_array.length != 0) {
      var details_table = $('<table>').addClass('table table-bordered');
      var head = $('<thead>').html('<tr><th>Организация</th><th>Тип контракта</th><th>Валюта</th><th>Сумма контракта</th></tr>');
      details_table.append(head)

      for(var i=0; i<contracts_array.length; i++){
        var row = $('<tr>')
        for (var arg in contracts_array[i].fields) {
          row.append($('<td>').text(contracts_array[i].fields[arg]));
        }
        details_table.append(row)
      }
      return details_table;
    }
    else {return ''}
  }

});
</script>

{% endblock script %}


