{% extends "base.html" %}
<!-- {% load render_table from django_tables2 %} -->
{% load widget_tweaks %}

{% block content %}

<h1>{{ title }}</h1>

  <form method="get">
    {{ form.as_p }}
    <button type="submit">Поиск</button>
  </form>

<h1>Мастер таблица</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Организация</th>
        <th>Валюта</th>
        <th>Тип Контракта</th>
        {% if monthly_contract_dict|length > 0 %}
          {% for month in monthly_contract_dict.keys %}
            <th>{{ month }}</th>
          {% endfor %}
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for contract in contract_list %}
        <tr>
          <td>{{ contract.company }}</td>
          <td>{{ contract.contract_type }}</td>
          <td>{{ contract.currency_type }}</td>
          {% if monthly_contract_dict|length > 0 %}
            {% for qs in monthly_contract_dict.values %}
              {% if contract in qs %}
                <td>{{ contract.contract_value }}</td>
              {% else %}
                <td>0</td>
              {% endif %}
            {% endfor %}
          {% endif %}
        </tr>
        {% empty %}
          <tr>
            <td colspan="3">Нет контрактов</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

<h1>Аггрегированные помесячно данные</h1>
  <table class="table table-bordered" id="aggr_table">
    <thead>
        <tr>
          {% for month in monthly_contract_dict_total.keys %}
            <th>{{ month }}</th>
          {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
          {% for value in monthly_contract_dict_total.values %}
            <td id="month_id{{ forloop.counter }}">{{ value.monthly_value|default_if_none:0 }}</td>
          {% endfor %}
        </tr>
    </tbody>
  </table>


<!--   <table class="table table-bordered" id="details_table">
  </table> -->
<div id="table_ct"></div>

{% endblock content %}


{% block script %}

{{ block.super }}
<script>
$(document).ready(function(){
  $("#aggr_table").on("click", "td", function(){
    $("#table_ct").html(details_table);
  });

var details_table = $('<table>').addClass('table table-bordered');
var head = $('<thead>').html('<tr><th>Oranisation</th><th>Contract</th><th>Curency</th><th>Price</th></tr>');
details_table.append(head)

for(i=0; i<3; i++){
  var row = $('<tr>').append($('<td>').text('result '+ i));
  details_table.append(row)
}
// var p_obj = '{{ monthly_contract_dict|escapejs }}'

// console.log(p_obj)

  // event.preventDefault();

  $.ajax({
    type: 'GET',
    url: '/contracts/monthly',
    data: {
      selected_year: $('#year_id').val(),
      selected_month: $('#month_id1').attr('id')
    },
    success: handleSuccess,
    error: handleError,
  });
  function handleSuccess(data){
    console.log(data);
  }
  function handleError(ThrowError){
    console.log(ThrowError);
  }

});
</script>

{% endblock script %}


